* {
  margin: 0px; }

body {
  background-color: #21232e; }

.header {
  height: 600px;
  background-image: url(../img/m-h-night.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 500px  200px; }
  .header .landing-logo {
    height: 50px;
    width: 160px;
    color: #fff;
    display: flex;
    position: absolute;
    top: 20px;
    left: 100px; }
    .header .landing-logo img {
      width: 50px;
      height: 50px; }
    .header .landing-logo p {
      font-weight: bold;
      font-family: 'Hind', sans-serif;
      font-size: 25px;
      margin: 5px 0px 0px 5px; }
      .header .landing-logo p span {
        font-family: 'Hind', sans-serif;
        position: absolute;
        top: 35px;
        left: 65px;
        font-size: 10px; }
  .header .header_heading {
    color: #fff;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    width: 500px;
    position: absolute;
    top: 150px;
    left: 100px;
    z-index: 1; }
    .header .header_heading::after {
      content: '';
      width: 250px;
      height: 50px;
      background-color: #ff4e33;
      z-index: -1;
      position: absolute;
      top: 90px;
      left: 0px; }
  .header .header_text {
    font-size: 15px;
    font-family: "Fresca", sans-serif;
    color: #fff;
    width: 600px;
    position: absolute;
    top: 300px;
    left: 100px;
    white-space: pre-line;
    line-height: 20px; }
  .header .header_button {
    width: 120px;
    height: 40px;
    color: seashell;
    background-color: #e3ac00;
    font-weight: bold;
    font-size: 15px;
    border: 0px;
    border-radius: 5px;
    position: absolute;
    top: 450px;
    left: 100px; }
  .header .login {
    color: seashell;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    position: absolute;
    top: 465px;
    left: 350px; }

.section {
  width: 100%;
  margin-left: 250px;
  position: absolute; }
  .section .section_text {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    top: 30px;
    left: 300px; }
    .section .section_text::after {
      content: '';
      width: 140px;
      height: 35px;
      background-color: #ff4e33;
      z-index: -1;
      position: absolute;
      left: 155px; }
  .section .section_card_wrap {
    position: absolute;
    top: 90px; }
    .section .section_card_wrap .section_card {
      margin-bottom: 20px;
      width: 900px;
      background-color: #3b3f50;
      border-radius: 10px;
      display: flex; }
      .section .section_card_wrap .section_card .section_card_img {
        height: 250px;
        margin: 15px;
        border-radius: 10px; }
      .section .section_card_wrap .section_card .section_card_right_container {
        width: 400px;
        margin: 45px; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          font-size: 25px;
          color: seashell;
          font-family: 'Source Sans Pro', sans-serif;
          text-align: center; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          font-size: 15px;
          font-family: "Fresca", sans-serif;
          text-align: justify;
          color: #c0c3ce;
          line-height: 20px;
          margin-top: 30px;
          margin-bottom: 30px; }
        .section .section_card_wrap .section_card .section_card_right_container .section_link {
          color: #c0c3ce;
          font-family: 'Hind', sans-serif;
          font-size: 15px;
          text-align: center;
          margin-left: 160px; }
  .section .section_banner {
    width: 1000px;
    height: 100px;
    background: linear-gradient(to right, #dfa505, #97344e);
    display: flex;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
    top: 1100px;
    left: -50px; }
    .section .section_banner .section_banner_text_wrap {
      margin: 20px 150px; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading {
        color: #fff;
        font-size: 25px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        position: absolute;
        z-index: 2; }
        .section .section_banner .section_banner_text_wrap .section_banner_heading::after {
          content: '';
          width: 55px;
          height: 35px;
          background-color: #ff4e33;
          z-index: -1;
          position: absolute;
          top: -10px;
          left: 100px; }
      .section .section_banner .section_banner_text_wrap .section_banner_text, .section .section_banner .section_banner_text_wrap .footer .footer-cr, .footer .section .section_banner .section_banner_text_wrap .footer-cr {
        margin-top: 35px;
        font-family: 'Hind', sans-serif;
        color: #c0c3ce; }
    .section .section_banner .section_banner_button {
      width: 120px;
      height: 40px;
      color: seashell;
      background-color: #e3ac00;
      font-weight: bold;
      font-size: 15px;
      border: 0px;
      border-radius: 5px;
      margin: 30px 80px; }

.footer {
  width: 100%;
  height: 200px;
  background-color: #3b3f50;
  color: #c0c3ce;
  position: absolute;
  top: 1750px;
  z-index: 0; }
  .footer .footer_logo {
    color: #fff;
    display: flex;
    position: absolute;
    top: 80px;
    left: 100px;
    height: 50px;
    width: 160px; }
    .footer .footer_logo img {
      width: 50px;
      height: 50px; }
    .footer .footer_logo p {
      color: #c0c3ce;
      font-weight: bold;
      font-size: 25px;
      font-family: 'Hind', sans-serif;
      margin: 0px 5px 0px 5px; }
      .footer .footer_logo p span {
        font-family: 'Hind', sans-serif;
        position: absolute;
        top: 35px;
        left: 65px;
        font-size: 10px; }
  .footer .footer_text {
    width: 280px;
    font-size: 13px;
    font-family: 'Hind', sans-serif;
    position: absolute;
    top: 80px;
    left: 500px; }
  .footer .footer-cr {
    font-size: 13px;
    position: absolute;
    top: 100px;
    left: 1050px; }

/*# sourceMappingURL=style2.css.map */
