$head-color:#2c2f3c;
$color-btn: green;
$content-color: #c0c3ce;
$head-link-color:seashell;
$font-section:'Hind', sans-serif;
$gradient-var1:green;
$gradient-var2:blue;
$head-background-color:#14a0c7;
$body-color:#ffffff;
$section-background-color:#21232e;
$head-img:url(../img/m-h-day.jpg);
$font-varible: 15px;
