$head-color:#fff;
$color-btn: #e3ac00;
$content-color: #c0c3ce;
$head-link-color:seashell;
$font-section:'Fresca', sans-serif;
$gradient-var1:#dfa505;
$gradient-var2:#97344e;
$head-background-color:#ff4e33;
$body-color:#21232e;
$section-background-color:#3b3f50;
$head-img:url(../img/m-h-night.jpg);
$font-varible: 15px;
