* {
  margin: 0px;
}

.top_fixed_bar {
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 2;
}
.top_fixed_bar .logo {
  width: 250px;
  position: absolute;
  top: 33%;
  left: 100px;
}
.top_fixed_bar .logo p {
  font-size: 30px;
  font-weight: bold;
  color: #777;
  text-transform: uppercase;
}
.top_fixed_bar .head_nav {
  width: 350px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 35%;
  right: 100px;
}
.top_fixed_bar .head_nav .menu {
  color: #777;
  font-size: 20px;
  text-decoration: none;
}
.top_fixed_bar .head_nav .menu:hover {
  color: #bfba55;
}

.head_baner {
  width: 100%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-image: url(../img/home-bg.jpg);
  background-repeat: no-repeat, repeat;
  background-position: top;
  position: absolute;
  top: 100px;
  z-index: 1;
  text-align: center;
}
.head_baner h1 {
  color: #FFFFFF;
  font-size: 50px;
  position: relative;
  top: 40vh;
}
.head_baner p {
  color: #bfba55;
  font-size: 15px;
  position: relative;
  top: 45vh;
}
.head_baner button {
  width: 150px;
  height: 40px;
  background-color: #FFFFFF;
  color: #777;
  border-radius: 20px;
  border-width: 0px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 52vh;
}

main {
  width: 900px;
  position: absolute;
  top: 100vh;
  left: 18%;
}
main .article_box {
  margin-top: 100px;
}
main .article_box .content_img {
  width: 900px;
}
main .article_box h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
}
main .article_box .author_container {
  display: flex;
}
main .article_box .author_container img {
  width: 50px;
  border-radius: 100%;
}
main .article_box .author_container p {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 15px;
}
main .article_box p {
  margin-top: 30px;
  color: #777;
  font-size: 17px;
}
main .article_box button {
  width: 150px;
  height: 40px;
  background-color: #FFFFFF;
  color: #777;
  border-radius: 20px;
  border: 1px solid #777;
  font-size: 12px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 60px;
}

footer {
  width: 100%;
  height: 300px;
  color: #777;
  display: flex;
  background-color: #000000;
  position: absolute;
  top: 6100px;
}
footer .f_cont {
  margin-left: 17%;
  margin-top: 90px;
}
footer .f_cont h1 {
  color: #FFFFFF;
  font-size: 30px;
}
footer .f_cont p {
  margin-top: 10px;
}
