body{
    font-size: 20px;
}
p{
    margin: 0px;
}
div{
    display: none;
}
#root{
    display: block;
}
#root > div {
    display: block;
}
.material-icons{
    color: orange;
}
.file-icon{
    color: gray;
}
.margLeft{
    margin-left: 20px;
}